

  /* #alireza{
    min-height: 100%;
  }

  @media  (min-width:1024px) {
    #alireza .swiper-button-prev::after ,#alireza .swiper-button-next::after{
      color: black;
      font-size: 25px !important;
      font-weight: 600;
    }
  }
  
  #alireza .swiper-button-prev::after ,#alireza .swiper-button-next::after{
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 70px;
    display: none;
  }
  
  #alireza:hover .swiper-button-prev::after , #alireza:hover .swiper-button-next::after{
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 70px;
    display: flex;
  }

  #alireza .swiper-pagination-bullet{
    display: none !important;
  } */

  